

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Azonix';
  src: url('./assets/Azonix.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
